.typeIp {
  width: auto;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 5px;
}
.tabContent {
  margin-bottom: 30px;
  border: none;
}

.tabPane {
  border: 1px solid black;
}
